.container {
    width: 700px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,40%);
}

section article h2, section article p, section article ul {
    margin: 1rem;
    list-style-position: inside;
}
