div.form-group, div.date-form {
    background-color: #b0d4ff;
}

.form-group {
    font-size: larger;
}

.date-form {
    font-size: larger;
}

.form-group label, .date-form label {
    display: flex;
}

.form-group input, .date-form input {
    border-color: #6fafff;
    border-radius: 20px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: medium;
}

.tiempo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tiempo label {
    padding-left: 20px;
    padding-right: 20px;
}

#seleccion_sexo {
    width: 100%;
    font-size: medium;
    padding: 8px;
    border-radius: 20px;
    border-color: #6fafff;
    border-width: 3px;
}

.btn-agregar {
    margin-bottom: 20px;
}

.btn-agregar button {
    
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #6fafff;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;

}

.btn-agregar button:hover {
    background-color: #5d9dea;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
