.contenido button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #6fafff;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
}

.contenido div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post h2{
    text-align: center;
}

.post h3{
    background-color: #6fafff;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    color: #fff;
}

.post p {
    background-color: #ccdae7;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
